<!-- Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-box text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><span>||</span> Login</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->

<!-- Log In -->
<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="n-customer">
          <h5>Khách hàng mới</h5>
          <p>Nếu bạn chưa có tài khoản</p>
          <a href="/register">Đăng ký tài khoản</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="r-customer">
          <h5>Đăng nhập tài khoản</h5>
          <form action="" method="post">
            <div class="emal">
              <label>Email</label>
              <input type="text" name="email" value="<%= typeof email != 'undefined' ? email : '' %>">
            </div>
            <div class="pass">
              <label>Mật khẩu</label>
              <input type="password" name="password">
            </div>
            <p class="text-danger">
              <%= typeof notify != 'undefined' ? notify : '' %>
            </p>
            <div class="d-flex justify-content-between nam-btm">
              <div>

              </div>
              <div>
                <a href="#">Quên mật khẩu</a>
              </div>
            </div>
              <button type="submit" name="button" class="submit" value="submit">Đăng nhập</button>
              <a href="/auth/google" class="login-with-google-btn" >
                Sign in with Google
              </a>
              <a href="/auth/facebook" class="loginBtn loginBtn--facebook">
                Login with Facebook
              </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Log In -->