<style>
  .d-none {
    display: none !important;
  }
  
  .height-100 {
    height: 100vh
  }
  
  .card {
    width: 400px;
    border: none;
    height: 300px;
    box-shadow: 0px 5px 20px 0px #d2dae3;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .card h6 {
    color: #5677fc;
    font-size: 20px
  }
  
  .inputs input {
    width: 40px;
    height: 40px
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
  }
  
  .card-2 {
    background-color: #fff;
    padding: 10px;
    width: 350px;
    height: 100px;
    bottom: -50px;
    left: 20px;
    position: absolute;
    border-radius: 5px
  }
  
  .card-2 .content {
    margin-top: 50px
  }
  
  .card-2 .content a {
    color: #5677fc
  }
  
  .form-control:focus {
    box-shadow: none;
    border: 2px solid #5677fc
  }
  
  .validate {
    border-radius: 20px;
    height: 40px;
    width: 140px
  }
  
  .verify-otp {
    font-size: 16px;
  }
</style>
<!-- Breadcrumb Area -->
<section class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-box text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><span>||</span> Register</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumb Area -->

<!-- Register -->
<section class="register">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="" method="post">
          <h5>Đăng ký tài khoản</h5>
          <div class="row">
            <div class="col-md-12 form-parent__email">
              <label>Địa chỉ email</label>
              <div class="row">
                <div class="col-md-8">
                  <input type="text" name="email" class="form__email" placeholder="Địa chỉ email">

                </div>
                <div class="col-md-4 ">
                  <button class="btn btn-primary mt-0 get-otp" type="button">Lấy Otp</button>
                  <button class="btn btn-primary mt-0 button-loading d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
              </button>
                </div>
              </div>
            </div>

            <div class="container d-flex justify-content-center align-items-center d-none verify-otp">
              <div class="position-relative">
                <div class="card p-2 text-center">
                  <h6>
                    Nhập mã OTP để xác thực tài khoản
                  </h6>
                  <p>
                    <span>Mã OTP đã được gửi đến </span>
                    <span>abc@gmail.com</span>
                  </p>
                  <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
                  </div>
                  <div class="count-down-wrap mt-3">
                    <p class="text-primary count-down">(<span class="count-đown__second">10</span>)s</p>
                  </div>
                  <div class="mt-4">
                    <button class="btn btn-danger validate" data-normal="Xác Minh" data-loading="<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>Xác minh" type="button">
                      Xác Minh
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-two__infor col-md-12 d-none">
              <div class="col-md-12">
                <label>Tên người dùng</label>
                <input type="text" name="userName" placeholder="Tên người dùng">
              </div>
              <div class="col-md-12">
                <label>Số điện thoại</label>
                <input type="text" name="phoneNumber" placeholder="Số điện thoại">
              </div>
              <div class="col-md-12">
                <label>Mật khẩu</label>
                <input type="text" name="password" placeholder="Nhập mật khẩu">
              </div>
              <div class="col-md-12">
                <label>Xác nhận mật khẩu</label>
                <input type="text" name="repassword" placeholder="Nhập lại mật khẩu">
              </div>
              <div class="col-md-5 text-right">
                <button type="submit" name="button" value="dangky">Đăng ký</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Register -->
<script src="scripts/register.js"></script>
<script>
  function OTPInput() {
    const inputs = document.querySelectorAll('#otp > *[id]');
    for (let i = 0; i < inputs.length; i++) {
      inputs[i].addEventListener('keydown', function(event) {
        if (event.key === "Backspace") {
          inputs[i].value = '';
          if (i !== 0) inputs[i - 1].focus();
        } else {
          if (i === inputs.length - 1 && inputs[i].value !== '') {
            return true;
          } else if (event.keyCode > 47 && event.keyCode < 58) {
            inputs[i].value = event.key;
            if (i !== inputs.length - 1) inputs[i + 1].focus();
            event.preventDefault();
          } else if (event.keyCode > 64 && event.keyCode < 91) {
            inputs[i].value = String.fromCharCode(event.keyCode);
            if (i !== inputs.length - 1) inputs[i + 1].focus();
            event.preventDefault();
          }
        }
      });
    }
  }
  OTPInput();
</script>