<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="javascript:void(0)">App</a>
        </li>
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">Profile</a>
        </li>
      </ol>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Vertical Form</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form action="add-coupon" method="post">
                <div class="mb-3">
                  <label class="col-form-label">Tên mã giảm giá</label>
                  <div class="">
                    <input type="text" class="form-control" name="nameCoupon" />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="col-form-label">Thời gian</label>
                  <div class="">
                    <input type="text" class="form-control" name="daterange" />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="col-form-label">Số lượng</label>
                  <div class="">
                    <input type="number" class="form-control" name="amount" />
                  </div>
                </div>
                <fieldset class="mb-3">
                  <div class="row">
                    <label class="col-form-label pt-0">Loại</label>
                    <div class="">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="typeCoupon"
                          value="true"
                          checked=""
                        />
                        <label class="form-check-label"> Phần trăm </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="typeCoupon"
                          value="false"
                        />
                        <label class="form-check-label"> Thành tiền </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="mb-3">
                  <label class="col-form-label">Giá trị</label>
                  <div class="">
                    <input
                      type="text"
                      class="form-control"
                      name="valueDiscount"
                    />
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">
                      Tạo
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Danh sách mã giảm giá</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-responsive-md">
                <thead>
                  <tr>
                    <th style="width: 80px"><strong>#</strong></th>
                    <th><strong>PATIENT</strong></th>
                    <th><strong>DR NAME</strong></th>
                    <th><strong>DATE</strong></th>
                    <th><strong>STATUS</strong></th>
                    <th><strong>PRICE</strong></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>01</strong></td>
                    <td>Mr. Bobby</td>
                    <td>Dr. Jackson</td>
                    <td>01 August 2020</td>
                    <td>
                      <span class="badge light badge-success">Successful</span>
                    </td>
                    <td>$21.56</td>
                    <td>
                      <div class="dropdown">
                        <button
                          type="button"
                          class="btn btn-success light sharp"
                          data-bs-toggle="dropdown"
                        >
                          <svg
                            width="20px"
                            height="20px"
                            viewbox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <circle
                                fill="#000000"
                                cx="5"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="12"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="19"
                                cy="12"
                                r="2"
                              ></circle>
                            </g>
                          </svg>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>02</strong></td>
                    <td>Mr. Bobby</td>
                    <td>Dr. Jackson</td>
                    <td>01 August 2020</td>
                    <td>
                      <span class="badge light badge-danger">Canceled</span>
                    </td>
                    <td>$21.56</td>
                    <td>
                      <div class="dropdown">
                        <button
                          type="button"
                          class="btn btn-danger light sharp"
                          data-bs-toggle="dropdown"
                        >
                          <svg
                            width="20px"
                            height="20px"
                            viewbox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <circle
                                fill="#000000"
                                cx="5"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="12"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="19"
                                cy="12"
                                r="2"
                              ></circle>
                            </g>
                          </svg>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>03</strong></td>
                    <td>Mr. Bobby</td>
                    <td>Dr. Jackson</td>
                    <td>01 August 2020</td>
                    <td>
                      <span class="badge light badge-warning">Pending</span>
                    </td>
                    <td>$21.56</td>
                    <td>
                      <div class="dropdown">
                        <button
                          type="button"
                          class="btn btn-warning light sharp"
                          data-bs-toggle="dropdown"
                        >
                          <svg
                            width="20px"
                            height="20px"
                            viewbox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <circle
                                fill="#000000"
                                cx="5"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="12"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="19"
                                cy="12"
                                r="2"
                              ></circle>
                            </g>
                          </svg>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    console.log($('input[name="daterange"]'));
    $('input[name="daterange"]').daterangepicker(
      {
        opens: "left",
        locale: {
          format: "DD/MM/YYYY",
        },
      },
      function (start, end, label) {
        console.log(
          "A new date selection was made: " +
            start.format("YYYY-MM-DD") +
            " to " +
            end.format("YYYY-MM-DD")
        );
      }
    );
  });
</script>
